# Maven
target/

# TestNG
test-output/

# Reports
Reports/
Logs/

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Log Files
*.log

# Temporary Files
*.tmp

# Backup Files
*.bak